.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result {
  width: 350px;
  height: 290px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.result::-webkit-scrollbar {
  display: none;
}
