.navbar {
    background: var(--blue);
    padding: 0.5em 0.5em;
    display: flex;
}

.navbar__link {
    color: white;
    font-size: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.navbar__link_settings {
    margin-left: auto;
}
