.navbar {
    position: relative;
    display: flex;
    user-select: none;
    width: 100%;
    align-items: center;
    height: 4rem;
    letter-spacing: 2.5px;
    background-color: var(--second-bg);
    color: var(--hover-color);
    box-shadow: var(--dark-shadow); 
}
.navbar__content {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.navbar__settings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__logo{
    display: flex;
    align-items: center;
}
.hopr_icon{
    margin-right: 5px;
    width: 20px;
}
.navbar__settings>button:not(:last-child){
    margin-right: 2rem !important;
}
.settings__btn, .settings__btn:hover{
    background-color: transparent !important;
    border: 0 !important;
}
.modal_footer{
    display: flex;
    justify-content: space-between;
}
.modal__inp:not(:last-child){
    margin-bottom: 1rem !important;
}