ul {
  margin-block-start: 8px;
  margin-block-end: 8px;
}

#graphContainer {
  height: 100%;
}

.loading {
  background-color: black;
  opacity: 0.5;
}

#infoContainer {
  float: left;
  width: 100%;
  position: relative;
  height: 170px;
  overflow-y: auto;
}

#info {
  padding: 8px;
}

#filter {
  position: absolute;
  top: 0;
  right: 0;
}