<div id="graphContainer" [ngClass]="{'loading': isLoading}">
  <container-element [ngSwitch]="selectedGraphLibraryType">
    <hopr-cytoscape (selectEmitter)="nodeChange($event)" *ngSwitchCase="graphLibraries.cytoscape">
    </hopr-cytoscape>
    <hopr-stardust (selectEmitter)="nodeChange($event)" *ngSwitchCase="graphLibraries.stardust">
    </hopr-stardust>
    <hopr-d3canvas (selectEmitter)="nodeChange($event)" *ngSwitchCase="graphLibraries.d3canvas">
    </hopr-d3canvas>
    <hopr-d3 (selectEmitter)="nodeChange($event)" *ngSwitchDefault>
    </hopr-d3>
  </container-element>
</div>

<div id="infoContainer">
  <div *ngIf="isLoading; else showMessageBlock">
    Loading...
  </div>
  <ng-template #showMessageBlock>
    {{message}}
  </ng-template>
  <div id="info" *ngIf="node || edge">
    <div *ngIf="node; else showEdgeBlock">
      Selected node ({{node?.data?.name}})
      <ul>
        <li>address: <a [href]="buildAddressUrl(node?.data?.id)" target="_blank">{{node?.data?.id}}</a></li>
        <li>weight: {{node?.data?.weight}}</li>
      </ul>
    </div>
    <ng-template #showEdgeBlock>
      Selected edge ({{edge?.data?.name}})
      <ul>
        <li>address1: <a [href]="buildAddressUrl(edge?.data?.source)" target="_blank">{{edge?.data?.source}}</a></li>
        <li>address2: <a [href]="buildAddressUrl(edge?.data?.target)" target="_blank">{{edge?.data?.target}}</a></li>
      </ul>
    </ng-template>
    Transfers
    <div *ngIf="!showTransfers; else showTransfersBlock">
      <ul>
        <li>
          <button (click)="revealTransfers()">Show</button>
        </li>
      </ul>
    </div>
    <ng-template #showTransfersBlock>
      <ul *ngFor="let transfer of transfers">
        <li [ngStyle]="{color: getTransferColor(transfer)}">amount: {{transfer.argsAmount}}</li>
        <li *ngIf="transfer.blockTimestamp">blockTimestamp: {{transfer.blockTimestamp}}</li>
        <li *ngIf="node">to: <a [href]="buildAddressUrl(transfer.argsTo)" target="_blank">{{transfer.argsTo}}</a></li>
        <li *ngIf="transfer.transactionHash">transactionHash: <a [href]="buildTxUrl(transfer.transactionHash)"
            target="_blank">{{transfer.transactionHash}}</a></li>
      </ul>
    </ng-template>
  </div>
  <div id="filter">
    <ng-container *ngFor="let kvp of filter | keyvalue">
      <input type="checkbox" [id]="kvp.key" [name]="kvp.key" [checked]="kvp.value.isSelected"
        (change)="changeFilter(kvp.key,$event)">
      <label [for]="kvp.key"><b [style.color]="kvp.value.color">{{kvp.value.name}}</b></label>
    </ng-container>
  </div>
</div>