.game-word {
    display: flex;
    grid-gap: 0.3em;
}
.game-word__letter {
    font-size: 2rem;
    font-weight: bold;
}
.word-history__guess {
    margin-left: 0.1em;
    margin-right: 0.1em;
}
.word-history__guess_bad {
    border-bottom: 2px solid grey;
    color: grey;
}
.word-history__guess_good {
    font-weight: bold;
    color: black;
}
