.container {
  .header {
    width: 350px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);

    .menu {
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        margin-left: 20px;
        font-weight: 600 !important;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          cursor: pointer;
        }

        span {
          margin-left: 20px;
        }
      }
    }
  }

  .content {
    width: 350px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: var(--grey);
    flex-direction: column;

    .wallet {
      width: 350px;
      height: 80px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 75%;
        }
      }

      .text {
        width: 160px;
        height: 80px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10px;
        flex-direction: column;

        span {
          font-size: 14px;
          color: var(--sl-grey);
        }
      }

      .actions {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    width: 350px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    font-size: 12px;
    background-color: var(--grey);

    img {
      width: 80px;
      height: 18.75px;
      margin-top: 5px;
    }

    .resizer {
      width: 160px;
      height: 5px;
      background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
      margin-top: 10px;
      border-radius: 10px;
    }
  }
}
