.page__title {
    font-size: 2rem;
    text-align: center;
}
.page__modal {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}
.page__start-button {
    margin: auto;
    display: block;
    width: fit-content;
}
