* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
html {
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
li {
    list-style-type: none;
}
body {
    margin: 0 !important;
    /* background-image: radial-gradient(circle, #ffffa0, #eded8c, #dbda79, #c9c966, #b7b753);
    background-repeat: no-repeat; */
    color: var(--primary-color) !important;
    font-family: 'Quicksand', sans-serif !important;
    font-style: normal !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    height: 100% !important;
    line-height: 1;
}
/* h2{
    color: inherit !important;
} */

main {
    flex: 1 0 auto;
    /* padding-top: 2rem; */
}
footer{
    flex: 0 0 auto;
    width: 100%;
    margin-top: 4rem;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main{
    display: flex;
    min-height: calc(100vh - 4rem);
    background-image: radial-gradient(circle, #ffffa0, #eded8c, #dbda79, #c9c966, #b7b753);
    background-repeat: no-repeat;
}
.wrapper {
    max-width: 1240px;
    margin: 0px auto;
    padding: 0px 50px;
    overflow: hidden;
    box-sizing: content-box;
}
:root{
    --main-bg: rgb(230, 231, 233);
    --second-bg: rgb(34, 34, 34);
    --primary-color: rgb(249, 249, 249);
    --primary-blue: rgb(32, 138, 188);
    --hover-color: rgb(54, 192, 223);
    --dark-shadow: 0px 10px 12px 4px rgba(15, 22, 32, 0.5);
}

::-webkit-scrollbar {
    width: 0;
}