#logsContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  padding: 8px;
  overflow-y: auto;
  background-color: white;
  z-index: 1;
}

.logMessage {
  width: 100%;
}