.container {
  .header {
    width: 350px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);

    .menu {
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;

      .left {
        margin-left: 20px;
        font-weight: 600 !important;
      }

      .right {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          padding: 0 7px 0;
          cursor: pointer;
        }
      }
    }

    .search {
      width: 350px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      transition: all 0.2s ease-in-out;

      .bar {
        background-color: var(--grey);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        transition: all 0.2s ease-in-out;

        input {
          width: 260px;
          height: 40px;
          border-radius: 20px;
          border: 0;
          outline: 0;
          background-color: var(--grey);
          color: var(--white);
          padding: 20px;
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 15px;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .content {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: var(--grey);
  }

  .footer {
    width: 350px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    font-size: 12px;
    background-color: var(--grey);

    img {
      width: 80px;
      height: 18.75px;
      margin-top: 5px;
    }

    .resizer {
      width: 160px;
      height: 5px;
      background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
      margin-top: 10px;
      border-radius: 10px;
    }
  }
}
