.container {
  .header {
    width: 350px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);

    .menu {
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        margin-left: 20px;
        font-weight: 600 !important;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          cursor: pointer;
        }

        span {
          margin-left: 20px;
        }
      }
    }
  }

  .content {
    width: 350px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: var(--grey);
    flex-direction: column;

    img {
      width: 50px;
    }

    .title {
      margin-top: 20px;
      font-size: 17px;
    }

    .warning {
      margin-top: 5px;
      font-size: 13px;
      color: var(--sl-grey);
    }

    .copyArea {
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-top: 20px;

      .address {
        width: 260px;
        height: 40px;
        background-color: var(--l-grey);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        padding-left: 25px;
        color: var(--sl-grey);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }

      .button {
        width: 50px;
        height: 40px;
        background-color: var(--l-grey);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

        img {
          width: 20px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .footer {
    width: 350px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    font-size: 12px;
    background-color: var(--grey);

    img {
      width: 80px;
      height: 18.75px;
      margin-top: 5px;
    }

    .resizer {
      width: 160px;
      height: 5px;
      background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
      margin-top: 10px;
      border-radius: 10px;
    }
  }
}
