.header {
  width: 100%;
  height: 80px;
  background-color: var(--white);
  font-family: "PT Mono", monospace;
  position: absolute;

  .sides {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      width: 300px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .right {
      width: 300px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      z-index: 2;

      img {
        padding-left: 15px;
        cursor: pointer;
      }
    }
  }

  .decoration {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 500px;
    }
  }
}
