.notice {
    --background: rgba(var(--yellow-rgb), 0.5);
    --border: rgb(var(--yellow-rgb));
    --color: black;
    background: var(--background);
    border: 1px solid var(--border);
    color: var(--color);
    padding: 0.5rem 1.5rem;;
    width: fit-content;
    border-radius: 3px;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.notice_error {
    --background: rgba(var(--red-rgb), 0.5);
    --border: rgb(var(--red-rgb));
    --color: black;
}
